@import '../../styles/variables';

.modalWindow {
  width: 350px;
  height: 230px;
  background-color: #51655c9c;
  backdrop-filter: blur(15px);

  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: $border-radius;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 300;

  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 30px;
}

.swiper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.634);
  z-index: 200;
}

.form {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  justify-content: space-between;
  color: $font-color-light;
  font-family: $font-family;
  font-size: 14px;
  height: 35px;
  width: 100%;
}

.label {
  display: flex;
  align-items: center;
}

.dateBox {
  @extend .box;

  margin-bottom: 15px;
}

.mealBox {
  @extend .box;
}

.dateInput {
  padding: 5px;
}

.dropdownMenu {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);

  &:hover .select {
    visibility: visible;
    opacity: 1;
    z-index: 50;
  }
}

.select {
  border-radius: 0;
  outline: none;
  font-size: 10px;
  border: none;
  font-family: $font-family;
  opacity: 0;
  visibility: hidden;
  transition: $transition;
  position: absolute;
  z-index: 100;
  top: 35px;
  left: 0;
  width: 100%;
  overflow-y: auto;
  height: fit-content;
  background-color: $accent-color3;
}

.option {
  height: 30px;
  color: $font-color-dark;
  padding-left: 10px;
  display: flex;
  align-items: center;
  transition: 200ms;

  &:hover,
  &:focus {
    color: $font-color-light;
  }
}

.date {
  height: 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.164);
}

.dateInput {
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: $font-color-light;
  font-family: $font-family;
  width: 100%;
}

.box1 {
  width: 50%;
}

.buttonClose {
  width: 20px;
  height: 20px;
  outline: none;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 15px;
  fill: $font-color-light;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $transition;

  &:hover {
    fill: $accent-color2;
  }
}

.button_submit {
  @include button;
  width: 70px;
  height: 35px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: $accent-color3;
  color: $font-color-dark;
  transition: 300ms;

  &:hover {
    background-color: $accent-color4;
    color: $font-color-light;
  }
}
