$background-color: rgba(255, 255, 255, 0.3);
$background-color-dark: rgba(0, 0, 0, 0.151);
$background-color-green: #51655c62;
$background-color-hover: rgba(255, 255, 255, 0.549);

$font-color-dark: rgb(36, 36, 36);
$font-color-light: rgba(255, 255, 255, 0.737);

$accent-color1: #1e3d62;
$accent-color2: #9aff4d;
$accent-color3: rgb(190, 0, 38);
$accent-color4: #51655c;

//Shadows

$shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;

// Transition

$transition: all 200ms;

// Radius

$border-radius: 30px;

$blur: blur(20px);

// Fonts

$font-family: 'Quicksand', sans-serif;

@mixin button {
  border: none;
  border-radius: $border-radius;
  outline: none;
}
