@import '../../styles/variables';

[data-component='sidebar'] {
  .sidebar {
    height: 100vw;
    position: fixed;
    transition: width 0.5s;
    z-index: 210;
    width: 60px;

    &:hover {
      width: 200px;
    }

    &:hover .sidebar__menu .navLink {
      width: 200px;
    }
    &:hover .sidebar__menu .navLink .navLink__span {
      opacity: 1;
      visibility: visible;
    }
    &:hover .sidebar__menu .formWrapper {
      display: block;
    }
  }

  .sidebar__menu {
    background-color: $background-color-green;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    transition: width 0.5s;
    width: 100%;
    height: 100%;

    .navLink {
      font-size: 14px;
      white-space: nowrap;
      width: 60px;
      height: 80px;
      text-decoration: none;
      color: $font-color-light;
      fill: $font-color-light;
      font-weight: 500;
      transition: $transition;
      margin: 0 !important;
      display: flex;
      align-items: center;

      &:hover {
        color: $accent-color4;
        fill: $accent-color4;
      }
    }

    .navLink__span {
      display: block;
      position: relative;
      left: 70px;
      opacity: 0;
      visibility: hidden;
      align-self: center;
    }

    .menu__item {
      display: flex;
      flex-direction: column;
      width: 100%;
      display: flex;
      align-items: center;
      height: fit-content;
      transition: all 600ms ease-in-out;
    }
  }

  .logOutBtn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    background-color: transparent;
    align-items: center;
    border: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: $transition;
    cursor: pointer;
    fill: $accent-color1;

    &:hover {
      color: red !important;
      fill: red !important;
    }
  }
}
