@import '../../styles/variables';
@import '../../styles/mixins';

// :root {
//   --hue: 190deg;
//   --sat: 50%;
//   --blur: 0px;
// }

// #app div {
//   --hue2: 250deg;
//   --sat2: calc(var(--sat) + 10%);
//   --clr: hsl(89, 49%, 90%);
//   --clr2: hsl(var(--hue2) var(--sat2) 85%);
//   --text: hsla(var(--hue), 70%, 10%, 0.9);
//   --gradoffset: 45%;
//   --gradgap: 30%;
// }

// #app .custom {
//   --hue: 30deg;
//   --sat: 50%;
//   --hue2: 5deg;
//   --sat2: 80%;
// }

.buttonClose {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: $font-color-light;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $transition;

  &:hover {
    fill: white;
  }
}

.swiper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.477);
  z-index: 220;
  backdrop-filter: blur(30px);
  transition: 1000ms;
}

.slide {
  position: relative;
  width: 350px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  transition: $transition;
  border-radius: $border-radius;
  border: 1px solid rgba(255, 255, 255, 0.152);
  top: 50%;
  transform: translate(0, -50%);
  z-index: 300;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;

  padding: 20px;
  font-family: $font-family;
  color: $font-color-light;
  background-color: transparent;
  width: 600px;
}

.image {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -25%;
  border-radius: 50%;
  box-shadow: $shadow;
  width: 350px;
  height: 350px;
  transition: $transition;

  z-index: 220;
}

.card__content {
  width: 360px;
  height: 268px;
}

.buttonsBox {
  width: 360px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonsBox__btn {
  position: absolute;
  height: 44px;
  padding: 10px;
  color: $font-color-light;
  border: 0;
  outline: none;
  border-radius: $border-radius;
  transition: $transition;
  font-family: $font-family;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.133);

  &:hover {
    border: 1px solid rgba(172, 255, 47, 0.504);
  }
  // candy style
  // background-color: var(--clr);
  // background-image: linear-gradient(
  //   180deg,
  //   var(--clr2) var(--gradgap),
  //   transparent calc(100% - var(--gradgap))
  // );
  // background-repeat: no-repeat;
  // background-position: center var(--gradoffset);
  // background-size: 100% 200%;
  // box-shadow: 0 -0.5em 0.5em transparent, 0 0.5em 0.5em transparent,
  //   0 0.25em 0.3em -0.2em hsla(var(--hue), var(--sat), 50%, 0.46),
  //   0 0.25em 0.75em hsla(var(--hue), calc(var(--sat) - 10%), 40%, 0.3);
  // transition: all 0.5s ease;

  // &::before {
  //   content: '';
  //   inset: 0;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 110px;
  //   height: 44px;
  //   border-radius: 5em;
  // }

  // &::after {
  //   content: '';
  //   inset: 0;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 90px;
  //   height: 44px;
  //   border-radius: 5em;
  // }

  // &::before {
  //   background-image: radial-gradient(
  //       ellipse,
  //       hsla(var(--hue), 100%, 90%, 0.8) 20%,
  //       transparent 50%,
  //       transparent 200%
  //     ),
  //     linear-gradient(
  //       90deg,
  //       hsl(0deg, 0%, 25%) -10%,
  //       transparent 30%,
  //       transparent 70%,
  //       hsl(0deg, 0%, 25%) 110%
  //     );
  //   box-shadow: inset 0 0.25em 0.75em hsla(0deg, 0%, 0%, 0.8),
  //     inset 0 -0.05em 0.2em rgba(255, 255, 255, 0.4),
  //     inset 0 -1px 3px hsla(190deg, 80%, 50%, 0.75);
  //   background-blend-mode: overlay;
  //   background-repeat: no-repeat;
  //   background-size: 200% 80%, cover;
  //   background-position: center 220%;
  //   mix-blend-mode: overlay;
  //   filter: blur(calc(var(--blur) * 0.5));
  // }

  // &::after {
  //   background: linear-gradient(
  //     180deg,
  //     hsla(var(--hue2), 100%, 90%, 0.9),
  //     hsla(var(--hue2), calc(var(--sat2) * 0.7), 50%, 0.75) 40%,
  //     transparent 80%
  //   );
  //   top: 0.075em;
  //   left: 0.75em;
  //   right: 0.75em;
  //   bottom: 1.4em;
  //   filter: blur(var(--blur));
  //   mix-blend-mode: screen;
  // }

  // &:hover,
  // &:active,
  // &:focus {
  //   outline: none;
  //   box-shadow: 0 -0.2em 1em hsla(var(--hue2), 70%, 80%, 0.3),
  //     0 0.5em 1.5em hsla(var(--hue), 70%, 80%, 0.5),
  //     0 0.25em 0.3em -0.2em hsl(var(--hue), 90%, 70%),
  //     0 0.25em 0.5em hsla(var(--hue), 20%, 30%, 0.2),
  //     inset 0 -2px 2px rgba(255, 255, 255, 0.2);
  //   background-position: center calc(var(--gradoffset) - 0.75em);
  // }
}

.spanBox {
  height: fit-content;
  width: 360px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.spanBox span {
  background-color: transparent;
  border-radius: $border-radius;
  padding: 7px;
  color: $accent-color3;
  font-weight: 700;
  font-size: 12px;
  margin-right: 8px;
  // border: 1px solid rgba(255, 255, 255, 0.197);
  // box-shadow: 3px 3px 7px #5c7863, -2px -2px 3px #ffffff6b;
}

.h3 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
  max-width: 95%;
  line-height: 1.5;
}

.h4 {
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
  height: 18px;
  width: fit-content;
  border-bottom: 1px solid $font-color-dark;
}

.ingredients_list {
  font-size: 11px;
  overflow-y: auto;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  height: 207px;
}

.ingredientsList__item {
  margin-bottom: 6px;
  line-height: 1.5;
}

.nutrients_list {
  @extend .ingredients_list;

  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  height: 85px;
  font-size: 12px;
}

.nutrientsList__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  line-height: 1.5;
  width: 47%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.267);
}

.labels_list {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
}

.labelsList__item {
  margin: 5px;
  cursor: text;
  -webkit-user-select: text;
}

.sourceLink {
  font-size: 12px;
  color: $font-color-light;
  text-decoration: none;
  transition: $transition;
  margin-left: 135px;

  &:hover {
    color: $accent-color2;
  }
}

.checkbox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $background-color;
  top: 15px;
  right: 15px;
  cursor: pointer;

  &:hover {
    fill: red !important;
  }
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translate(0, -50%);
  position: absolute;
  z-index: 10;
  cursor: pointer;
  fill: rgb(102, 102, 102);
}

.liked {
  fill: red;
}

.checkbox__input {
  cursor: pointer;
  position: relative;
  z-index: 15;
  opacity: 0;
  width: 100%;
  height: 100%;

  &:hover ~ .label {
    fill: red;
  }

  &:checked ~ .label {
    fill: red;
  }
}

.checkbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.checkbox:hover:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px red;
  filter: blur(3px);
}

.checkbox .label:hover {
  box-shadow: 0 0 15px red;
  text-shadow: 0 0 15px red;
  fill: red !important;
}
